<!doctype html>
<html>
<head>
    <title>User Login and Sessions</title>

    <base href="/">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.css">
    <link rel="stylesheet" href="css/jquery-ui.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<!--<body>-->

<body ng-app="venue">

<div ui-view></div>

<!--<script src="js/lib-min.js"></script>-->

<script src="js/lib/jquery-1.11.2.js"></script>
<script src="js/lib/jquery-ui.js"></script>
<script src="js/lib/angular/angular.js"></script>
<script src="js/lib/angular-mocks/angular-mocks.js"></script>
<script src="js/lib/bower-angular-resource-master/angular-resource.js"></script>
<script src="js/lib/angular-route/angular-route.js"></script>
<script src="js/lib/angular-ui-router.js"></script>
<script src="js/lib/ui-bootstrap-tpls-0.12.0.js"></script>
<script src="js/lib/lodash.js"></script>

<script src="js/app-min.js"></script>

<script type='text/javascript'>


        angular.module('venue')
                .config([ '$locationProvider', '$stateProvider', '$urlRouterProvider',
                    function ($locationProvider, $stateProvider, $urlRouterProvider) {

                        angular.forEach(<%-JSON.stringify(baseAppSettings)%>.routes.client, function (value, key) {
                            $stateProvider
                                    .state(value.state, {
                                        url: value.urlRequested,
                                        templateUrl: value.templateUrl,
                                        controller: value.controller || null

                                    });
                        })

                        $locationProvider.html5Mode(true);

                    }])

                .run(['$state', function ($state) {
                    $state.transitionTo('home');
                }])
                .controller('BootStrapController', function(){
                });


</script>


</body>
</html>

