<!doctype html>
<html>
<head>
    <title>User Login and Sessions</title>

    <base href="/">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="venue" ng-strict-di ng-controller="AppController">

<div ui-view></div>

<script src="js/lib-min.js"></script>

<script type='text/javascript'>
    angular.module('baseAppSettings').constant('baseAppSettings', <%-JSON.stringify(baseAppSettings)%>)
</script>

<script src="js/app-min.js"></script>


</body>
</html>