body {
  background-color: #00aba9;
}
.pho-tab-inner {
  margin: 5px;
  width: inherit;
  background-color: #2b5797;
  padding: 2px;
}
.pho-tab-inner .pho-tab-header {
  background-color: #ffc40d;
}
.pho-tab-inner .pho-tab-header input[type="text"] {
  color: black;
  background-color: transparent;
  border: 0px;
  width: auto;
}
.pho-tab-inner .pho-tab-title {
  color: black;
  font-weight: bold;
  font-size: small;
  padding: 3px;
}
.photo-canvas {
  width: 200px;
  background-color: #eff4ff;
  height: 300px;
}
.canvas-tab {
  position: absolute;
  left: 310px;
}
.photoshop-tools {
  width: 70px;
}
.photoshop-tools label {
  text-align: center;
  display: block;
  font-weight: normal;
}
.photoshop-tools label input[type="radio"] {
  display: none;
}
.photoshop-tools label p {
  margin: 0px;
}
.photoshop-tools label.photoshop-active {
  background-color: #2d89ef;
}
.clear-input {
  color: black;
  background-color: transparent;
  border: 0px;
  width: auto;
}
.properties-tab {
  width: 300px;
  color: white;
}
.properties-tab p {
  display: inline-block;
}
.properties-tab input[type="text"] {
  color: black;
  background-color: transparent;
  border: 0px;
  width: auto;
}
.layers-tab {
  width: 300px;
}
.layers-tab label {
  display: block;
}
.layers-tab label input[type="radio"] {
  display: none;
}
.layers-tab label input[type="text"] {
  color: black;
  background-color: transparent;
  border: 0px;
  width: auto;
}
.layers-tab label.photoshop-active {
  background-color: #2d89ef;
}
