body {
  background-color: lightgray;
}
.pho-tab {
  background-color: pink;
  padding: 10px 0px 10px;
  width: 300px;
  border: 1px solid black;
  padding: 5px;
}
.pho-tab .pho-tab-header {
  background-color: green;
}
.pho-tab .pho-tab-title {
  background-color: white;
}
