body {
  background-color: lightgray;

}

.pho-tab {
  background-color: pink;
  padding: 10px 0px 10px;
  width: 300px;
  border: 1px solid black;
  padding: 5px;

  .pho-tab-header{
    background-color: green;
//    padding-top: 10px;
  }

  .pho-tab-title{
    background-color: white;
  }
}

.photo-canvas{
  width: 200px;
  background-color: pink;
  height:300px
}
.canvas-tab{
  position:absolute;
  left:310px;
}
