<pho-tab class="photoshop-tools" tab-title="Tools">
    <select-one class="pho-tools" data="photoshopCtrl.tools"
                answer-object-to-bind-to="currentTool"
                key-of-answer-object-to-bind-to="tool"
                unique-radio-button-name="tools"
                value-is-index="false">
        <p>{{$parent.item.name}}</p>
    </select-one>
</pho-tab>

<button ng-click="photoshopCtrl.updateFileTemp()">updateFile</button>


<pho-tab class="properties-tab" tab-title="Properties">
    <properties></properties>
</pho-tab>


<pho-tab class="canvas-tab" tab-title="{{photoshopFile.content.name}}">
    <photo-canvas></photo-canvas>
</pho-tab>

<pho-tab class="layers-tab" tab-title="Layers">
</pho-tab>


